# Core functionality - changes here should be rare!
/src/app.py                   @sysNikola
/src/backend/database.py      @sysNikola
/src/backend/routers/auth.py  @sysNikola

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sysNikola
